{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col only">
          <div class="phone_title">
            <div class="title">
              <div class="breadcrumb">
                <ul>
                  <li><a href="{% url 'front_page' %}">Главная</a></li>
                  <li class="active">Оформление заказа</li>
                </ul>
              </div>
              <div class="clear"></div>
              <h1>Оформление заказа</h1>
            </div>
            <div class="help_servise">
              <img class="img" src="{{ STATIC_PREFIX }}img/phone_img.png" alt="">
              <div class="text">
                <p>Служба поддержки</p>
                <b>+372 45054409</b>
                <span>12:00 - 12:35 по четным средам</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="lk_content">
            <div class="right_content">
              <div class="message success">
                <i></i>
                <p>Данные успешно сохранены!</p>
                <a class="close"></a>
              </div>
              <div class="lk_buttons">
                <a class="back" href="{% url 'front_page' %}"><i></i>Вернуться к покупкам</a>
                <a class="go_lk" href="{% url 'profile' %}"><i></i>Перейти в личный кабинет</a>
              </div>
            </div>
            <div class="lk_banner">
              <a href="#">
                <img src="{{ STATIC_PREFIX }}img/right_banner.jpg" alt="">
                <span>Лучшие цены<br>для строительства бань и саун</span>
              </a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>


{% endblock %}