{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation thumbnail %}


{% block body %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/profile/profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/checkout.js"></script>

    <section>
        <div class="wrapper">
            {% category_header %}
            <div class="right_col only">
                <div class="phone_title">
                    <div class="title">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="{% url 'front_page' %}" translate>Главная</a></li>
                                <li class="active" translate>Оформление заказа</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <h1 translate>Оформление заказа</h1>
                    </div>
                    <div class="help_servise">
                        <img class="img" src="{{ STATIC_PREFIX }}img/phone_img.png" alt="">
                        <div class="text">
                            <p translate>Служба поддержки</p>
                            <b translate>+372 45054409</b>
                            <span translate>12:00 - 12:35 по четным средам</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>


                <div class="lk_content" ng-controller="CheckoutCtrl">
                    <div class="right_content" ng-if="cart.cart.totalItems == 0">
                        <span us-spinner></span>
                    </div>
                    <div class="right_content" ng-if="cart.cart.totalItems > 0">
                        <div class="order_info">
{#								<p class="small_title">Заказ #{{ cart_id }}</p>#}
                            <table>
                                <tr>
                                    <th>№</th>
                                    <th translate>Название</th>
                                    <th translate>Кол-во</th>
                                    <th translate>Цена</th>
                                    <th translate>Сумма</th>
                                    <th translate>Доставка</th>
                                </tr>
                                <tr ng-repeat="product in cart.cart.items">
                                    <td>{[ $index + 1 ]}</td>
                                    <td>{[ product.name ]}</td>
                                    <td>
                                        <div class="change_count">
                                            <a href="#" ng-click="cart.remove(product)">-</a>
                                            <input type="text" value="{[ cart.cartQty(product) ]}" ng-model="cart.getItem(product).qty" ng-change="cart.updateCart()">
                                            <a href="#" ng-click="cart.add(product)">+</a>

                                        </div>
                                    </td>
                                    <td>{[ product.price |cart_price ]}</td>
                                    <td>{[ product.price * cart.cartQty(product) |cart_price ]}</td>

                                    <td><a title="{[ product.deliveryDescription ]}">{[ product.deliveryPrice |cart_price ]}</a></td>
                                </tr>
                                <tr>
                               <td colspan="5"><span translate>Доставка</span>
                                   <small style="color: gray;" ng-if="cart.cart.totalDeliveryDescription">({[ cart.cart.totalDeliveryDescription ]})</small></td>
                                   <td>{[ cart.cart.totalDelivery |cart_price ]}</td>
                               </tr>
                            </table>
                            <p class="all"><span translate>Итого:</span>
                                <span>{[ cart.cart.total |cart_price]}</span></p>

                            <p class="all">
                                <span translate>С доставкой:</span>
                                <span>{[ cart.cart.totalWithDelivery |cart_price]}</span>
                            </p>
                        </div>
                        <div class="lk_form">
                            <div class="sel_addr">

                                <p class="small_title" translate>Адресс доставки</p>
                                <div>
                                    <span us-spinner ng-if="!addresses"></span>
                                    <select ng-if="addresses" ng-model="settings.address" ng-change="saveSettings()" ng-options="adr.addressID as adr.title for adr in addresses"></select>

                                    <form ng-if="!settings.address" style="padding-top: 10px;">
                                        <div style="border: 1px solid #c4d0d2; padding: 10px;" >
                                            <shop-address edit="true" data="form.customAddress"></shop-address>

                                            <div class="clear"></div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div><div class="clear"></div>
                        <div class="sel_payment_type">
                            <p class="small_title" translate>Способы оплаты</p>

                            <ul id="pay_type">
                                {% for payment in payments %}
                                    {% for method in payment.payment_methods.all %}
                                    <li ng-if="cart.currency.code == '{{ payment.currency.currency }}'" style="background-image: url({% thumbnail method.logo 130x110 %});" ng-click="checkout({% if method.behavior.payment_url %}'{{ method.behavior.payment_url }}'{% endif %})">
                                        <i></i>
                                        <input type="radio" name="payment_type">
                                    </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="lk_banner">

                        {% if banners.checkout %}
                            {% for slide in banners.profile_small.slides.all %}
                            <a href="{{ slide.url }}"><img src="{% thumbnail slide.image 240x390 crop upscale %}" alt=""><span>{{ slide.title }}</span></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}