{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}

{% block body %}
    <section>
            <div class="wrapper">
                {% category_header %}
                {% profile %}
                <div class="right_col">
                    <br/>
                    <form method="POST" action="{% url 'profile_edit' %}">
                        {% csrf_token %}
                        <div class="lk_form">
                            <table class="info">
                              <tr>
                                <td>{{ form.email.label }}</td>
                                <td>{{ form.email }}</td>
                              </tr>
                              {% if form.email.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.email.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.first_name.label }}</td>
                                <td>{{ form.first_name }}</td>
                              </tr>
                              {% if form.first_name.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.first_name.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.last_name.label }}</td>
                                <td>{{ form.last_name }}</td>
                              </tr>
                              {% if form.last_name.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.last_name.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.company_name.label }}</td>
                                <td>{{ form.company_name }}</td>
                              </tr>
                              {% if form.company_name.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.company_name.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.company_reg_nr.label }}</td>
                                <td>{{ form.company_reg_nr }}</td>
                              </tr>
                              {% if form.company_reg_nr.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.company_reg_nr.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              </table>
                              <div class="buttons">
                                   <input class="send" type="submit" value='{% trans "Update" %}'>
                                   <div class="clear"></div>
                              </div> 
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </section>
{% endblock %}

