{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">

          <h1>{% trans "Confirm E-mail Address" %}</h1>
          <br/>

          {% if confirmation %}

          {% user_display confirmation.email_address.user as user_display %}
                  
          <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>


          <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <br/>
            <div class="lk_form">
                <div class="buttons">
                    <input class="send" type="submit" value='{% trans "Confirm" %}'>
                    <div class="clear"></div>
                </div> 
            </div>
          </form>

          {% else %}

          {% url 'account_email' as email_url %}

          <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

          {% endif %}
        </div>
        <div class="clear"></div>
      </div>


{% endblock %}