{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">
          <br/>
          {% if socialaccount.providers  %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> 
          for a {{site_name}} account and sign in
          below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% endif %}

          <h2>Вход на grandex24.com</h2>
          <br />


          
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="lk_form">
              <form>
                <table class="info">
                  <tr>
                    <td>{% trans "Email" %}</td>
                    <td>{{ form.login }} </td>
                  </tr>
                  {%  if form.login.errors %}
                  <tr>
                    <td colspan="2"> 
                      <div class="message error">
                        <i></i>
                        <p>{{ form.login.errors }}</p>
                        <a class="close"></a>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td>{% trans "Password" %}</td>
                    <td>{{ form.password }} <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></td>
                  </tr>
                  {%  if form.password.errors %}
                  <tr>
                    <td colspan="2">
                      <div class="message error">
                        <i></i>
                        <p>{{ form.password.errors }}</p>
                        <a class="close"></a>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                </table>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="buttons">
                    <input class="send" type="submit" value="{% trans 'Sign in' %}">

                    <a class="btn" href="{% url 'account_signup' %}">{% trans "Регистрация &raquo;" %}</a>
                    <div class="clear"></div>
                </div>
              </form>
            </div>
          </div>
        <div class="clear"></div>
      </div>
    </section>

{% endblock %}

