{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">

        <h1>{% trans "Sign Out" %}</h1>
        <br/>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
          {% endif %}
          <br/>
          <div class="lk_form">
              <div class="buttons">
                  <input class="send" type="submit" value='{% trans "Sign Out" %}'>
                  <div class="clear"></div>
              </div> 
          </div>
        </form>

        </div>
        <div class="clear"></div>
      </div>


{% endblock %}