{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}

{% block account_nav_change_password %}active{% endblock %}

{% block body %}
    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">
        	<form method="POST" action="{% url 'account_reset_password' %}" >
        		{% csrf_token %}
	       		<div class="lk_form">
	                <table class="info">
	                  <tr>
	                    <td>{{ form.email.label }}</td>
	                    <td>{{ form.email }}</td>
	                  </tr>
	                  {% if form.email.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.email.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  </table>
		              <div class="buttons">
		                   <input class="send" type="submit" value='{% trans "Reset" %}'>
		                   <div class="clear"></div>
		              </div> 
                </div>
            </form>
        </div>
        <div class="clear"></div>
      </div>
    </section>

{% endblock %}
