{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">
		    <h1>{% trans "Password Reset" %}</h1>
		    
		    {% if user.is_authenticated %}
		    {% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    
		    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
        <div class="clear"></div>
      </div>


{% endblock %}