{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">
          <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <br/>
                {% if form %}
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="lk_form">
                              <table class="info">
                                <tr>
                                  <td>{{ form.password1.label }}</td>
                                  <td>{{ form.password1 }}</td>
                                </tr>
                                {% if form.password1.errors %}
                                <tr>
                                  <td colspan="2">
                                    <div class="message error">
                                      <i></i>
                                      <p>{{ form.password1.errors }}</p>
                                      <a class="close"></a>
                                    </div>
                                  </td>
                                </tr>
                                {% endif %}
                                <tr>
                                  <td>{{ form.password2.label }}</td>
                                  <td>{{ form.password2 }}</td>
                                </tr>
                                {% if form.password2.errors %}
                                <tr>
                                  <td colspan="2">
                                    <div class="message error">
                                      <i></i>
                                      <p>{{ form.password2.errors }}</p>
                                      <a class="close"></a>
                                    </div>
                                  </td>
                                </tr>
                                {% endif %}
                                </table>
                              <div class="buttons">
                                   <input class="send" type="submit" value='{% trans "Update" %}'>
                                   <div class="clear"></div>
                              </div> 
                            </div>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="clear"></div>
      </div>


{% endblock %}