{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        <div class="left_col">

        </div>
        <div class="right_col">
         <h1>{% trans "Change Password" %}</h1>
         <p>{% trans 'Your password is now changed.' %}</p>
        </div>
        <div class="clear"></div>
      </div>


{% endblock %}