{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}

{% block body %}
    <section>
            <div class="wrapper">
                {% category_header %}
                {% profile %}
                <div class="right_col">
                    <h1>{% trans "Change Password" %}</h1>
                    <br/>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        <div class="lk_form">
                            <table class="info">
                              <tr>
                                <td>{{ form.oldpassword.label }}</td>
                                <td>{{ form.oldpassword }}</td>
                              </tr>
                              {% if form.oldpassword.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.oldpassword.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.password1.label }}</td>
                                <td>{{ form.password1 }}</td>
                              </tr>
                              {% if form.password1.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.password1.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              <tr>
                                <td>{{ form.password2.label }}</td>
                                <td>{{ form.password2 }}</td>
                              </tr>
                              {% if form.password2.errors %}
                              <tr>
                                <td colspan="2">
                                  <div class="message error">
                                    <i></i>
                                    <p>{{ form.password2.errors }}</p>
                                    <a class="close"></a>
                                  </div>
                                </td>
                              </tr>
                              {% endif %}
                              </table>
                              <div class="buttons">
                                   <input class="send" type="submit" value='{% trans "Update" %}'>
                                   <div class="clear"></div>
                              </div> 
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </section>
{% endblock %}

