{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}

{% load thumbnail %}
{% block body %}

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/profile/profile.js"></script>

    <section ng-controller="ProfileCtrl">
            <div class="wrapper">
                {% category_header %}

                <div class="left_col">

                    <div class="settings_list">
                        {% if user.company_name|length > 0 %}
                            <p class="title"><strong>{{ user.company_name }}</strong> <br />{{ user.first_name }} {{ user.last_name }}</p>
                        {% else %}
                            <p class="title">{{ user.first_name }}</p>
                        {% endif %}
                    </div>

                    <div class="orders_list">
                        <p class="title">Мои заказы</p>
                        <ul>
                            <li><a ng-class="{active: order_type=='all'}" href="#/orders/all">Все ({[ all_orders.all.length ]})</a></li>
                            <li><a ng-class="{active: order_type=='unpaid'}" href="#/orders/unpaid">Ожидание оплаты ({[ all_orders.unpaid.length ]})</a></li>
                            <li><a ng-class="{active: order_type=='sent'}" href="#/orders/sent">Отправлен ({[ all_orders.sent.length ]})</a></li>
                            <li><a ng-class="{active: order_type=='paid'}" href="#/orders/paid">Ожидание отправки ({[ all_orders.paid.length ]})</a></li>
                        </ul>
                    </div>
                    <div class="settings_list">
                        <p class="title">Мои настройки</p>
                        <ul>
{#                            <li><a href="#/info">Личные данные</a></li>#}
                            <li><a href="#/addresses">Адреса доставки ({[ addresses.length ]})</a></li>
{#                            <li><a href="">Смена пароля</a></li>#}
{#                            <li><a href="">Смена E-mail</a></li>#}
                        </ul>
                    </div>
                    <ul class="left_links">
                        {% if banners.profile_small %}
                            {% for slide in banners.profile_small.slides.all %}
                            <li class="banner"><a href="{{ slide.url }}"><img src="{% thumbnail slide.image 250x290 crop upscale %}" alt=""><span>{{ slide.title }}</span></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                <ng-view></ng-view>

                <div class="clear"></div>
            </div>
        </section>


{% endblock %}

