{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}


{% block body %}

    <section>
      <div class="wrapper">
        {% category_header %}
        {% profile %}
        <div class="right_col"  ng-controller="ProfileController">
        	{% if address %}
				<div class="addr_list">
					<ul>
						{% for item in address %}
						<li>
							<div class="info">
								<p class="name">Адресс {{ item.added }} </p>
								<ul class="desc">
									<li>{{ item.country }}, {{ item.city }}, {{ item.postalCode }}, {{ item.street }}</li>
								</ul>
							</div>
							<div class="buttons">
								<a class="set_active" href="javascript:;" ng-click="addressMain($event)"><i></i>Сделать основным</a>
								<a class="edit" href="javascript: open_popup('add_address')" ><i></i>Редактировать</a>
								<a class="delete" href="javascript:;" ng-click="addressRemove($event)"><i></i>Удалить адрес</a>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<div class="lk_content">
					<div class="message error">
						<i></i>
						<p>Нету адресов!</p>
						<a class="close"></a>
					</div>
				</div>
			{% endif %}
        </div>
        <div class="clear"></div>
      </div>


     <div id="fade"></div>
      <div class="popup" id="add_address">
         <a class="close" href="javascript: close_popup()"></a>
         <p class="title">Изменить адрес</p>
         <div class="cart_list" >
        	<form method="POST" action="." >
        		{% csrf_token %}
	       		<div class="lk_form">
	                <table class="info">
	                  <tr>
	                    <td>{{ form.country.label }}</td>
	                    <td>{{ form.country }}</td>
	                  </tr>
	                  {% if form.country.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.country.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.street.label }}</td>
	                    <td>{{ form.street }}</td>
	                  </tr>
	                  {% if form.street.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.street.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.city.label }}</td>
	                    <td>{{ form.city }}</td>
	                  </tr>
	                  {% if form.city.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.city.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.post.label }}</td>
	                    <td>{{ form.post }}</td>
	                  </tr>
	                  {% if form.post.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.post.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.first_name.label }}</td>
	                    <td>{{ form.first_name }}</td>
	                  </tr>
	                  {% if form.first_name.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.first_name.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.last_name.label }}</td>
	                    <td>{{ form.last_name }}</td>
	                  </tr>
	                  {% if form.first_name.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.last_name.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.phone.label }}</td>
	                    <td>{{ form.phone }}</td>
	                  </tr>
	                  {% if form.phone.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.phone.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  <tr>
	                    <td>{{ form.email.label }}</td>
	                    <td>{{ form.email }}</td>
	                  </tr>
	                  {% if form.email.errors %}
	                  <tr>
	                    <td colspan="2">
	                      <div class="message error">
	                        <i></i>
	                        <p>{{ form.email.errors }}</p>
	                        <a class="close"></a>
	                      </div>
	                    </td>
	                  </tr>
	                  {% endif %}
	                  </table>
            	</form>
            	</div>
            <div class="clear"></div>
            <br/>
            <a class="buy" href="#">Обновить</a>
            <div class="clear"></div>
         </div>
      </div>
{% endblock %}