{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}

{% block body %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/signup.js"></script>

    <section>
        <div class="wrapper" ng-controller="SignupCtrl">
            {% category_header %}
            <div class="left_col">

            </div>
            <div class="right_col">

                <h1>Регистрация</h1>

                <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="lk_form">
                        <form>
                            <table class="info">
                                <tr>
                                    <td colspan="2">Регистрация в качестве представитея компании
                                        <input type="checkbox" ng-model="isCompany"></td>
                                </tr>
                                <tr>
                                    <td>{{ form.first_name.label }}</td>
                                    <td>{{ form.first_name }}</td>
                                </tr>
                                {% if form.first_name.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="message error">
                                                <i></i>

                                                <p>{{ form.first_name.errors }}</p>
                                                <a class="close"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>{{ form.last_name.label }}</td>
                                    <td>{{ form.last_name }}</td>
                                </tr>
                                {% if form.last_name.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="message error">
                                                <i></i>

                                                <p>{{ form.last_name.errors }}</p>
                                                <a class="close"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
{#                                <tr>#}
{#                                    <td>{{ form.country.label }}</td>#}
{#                                    <td>#}
{#                                        <div class="select">#}
{#                                            {{ form.country }}#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
                                <tr ng-if="isCompany">
                                    <td>{{ form.company_name.label }}</td>
                                    <td>{{ form.company_name }}</td>
                                </tr>
                                <tr ng-if="isCompany">
                                    <td>{{ form.company_reg_nr.label }}</td>
                                    <td>{{ form.company_reg_nr }}</td>
                                </tr>
                                <tr ng-if="isCompany">
                                    <td>{{ form.company_vat_nr.label }}</td>
                                    <td>{{ form.company_vat_nr }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.email.label }}</td>
                                    <td>{{ form.email }}</td>
                                </tr>
                                {% if form.email.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="message error">
                                                <i></i>

                                                <p>{{ form.email.errors }}</p>
                                                <a class="close"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>{{ form.password1.label }}</td>
                                    <td>{{ form.password1 }}</td>
                                </tr>
                                {% if form.password1.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="message error">
                                                <i></i>

                                                <p>{{ form.password1.errors }}</p>
                                                <a class="close"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>{{ form.password2.label }}</td>
                                    <td>{{ form.password2 }}</td>
                                </tr>
                                {% if form.password2.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="message error">
                                                <i></i>

                                                <p>{{ form.password2.errors }}</p>
                                                <a class="close"></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <div class="buttons">
                                <input class="send" type="submit" value="{% trans 'Sign up' %}">
                                <a href="{{ login_url }}">{% blocktrans %}Already have an account? Then please sign
                                    in.{% endblocktrans %}</a>

                                <div class="clear"></div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

{% endblock %}

