{% load i18n %}
{% if products %}
    
	<table class="table table-striped table-bordered">
        <thead>
            <td>{% trans 'Name' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.name }}</td>
            {% endfor %}
        </thead>
        <tr>
            <td>{% trans 'Brand name' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.brandName }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans 'Price' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.priceWithVat }} &euro;</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans 'Cost' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.cost }} &euro;</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans 'Category' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.groupName }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans 'Height' %}</td>
            {% for product in products %}
            <td>{{ product.rows.0.height }}</td>
            {% endfor %}
        </tr>
    </table>

{% else %}
	<div>Please, select products to compare. </div>
{% endif %}