{% extends '_base.html' %}
{% load i18n cms_tags sekizai_tags shop_navigation query_utils %}
{% block javascript %}
{% endblock %}

{% load thumbnail %}
{% load shop_navigation %}


{% block body %}

        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/product.js"></script>

        <script>
        product_data = {{ json|safe }};
        lang_code = '{{ LANGUAGE_CODE }}';
        </script>

    	<section>
            {% block wrapper %}
            <div class="wrapper">
                {% category_header %}
                <div class="right_col only"  ng-view>

                </div>

            </div>
            <div class="clear"></div>
            {% endblock %}

		</section>

{% endblock %}


