<div class="help_servise">
    <img class="img" src="/static/img/phone_img.png" alt="">
    <div class="text">
        <p translate>Служба поддержки</p>
        <b translate>+372 45054409</b>
        <span translate>12:00 - 12:35 по четным средам</span>
    </div>
    <div class="clear"></div>
</div>
