
<div class="right_col">

    <div class="phone_title">
        <div class="title">
            <breadcrumbs></breadcrumbs>
            <div class="clear"></div>
            <h1 translate>Адреса доставки</h1>
        </div>

        <ng-include src="'/static/js/app/profile/templates/_support.html'"></ng-include>

        <div class="clear"></div>
    </div>

    <div class="lk_content">
        <div class="addr_list">

            <span us-spinner ng-if="!addresses"></span>

            <ul ng-if="addresses">
                <li ng-repeat="address in addresses">

                    <shop-address edit="address.edit" data="address"></shop-address>

                    <div class="buttons" ng-if="!address.edit">
                        <!-- <a class="set_active" href="#"><i></i>Сделать основным</a> -->
                        <a class="edit" ng-click="address.edit = true"><i></i><span translate>Редактировать</span>
                        </a>
                        <a class="delete" ng-click="deleteAddress(address)"><i></i><span translate>Удалить адрес</span>
                        </a>
                    </div>

                    <div class="buttons" ng-if="address.edit">
                        <a class="edit" ng-click="saveAddress(address)"><i></i><span translate>Сохранить</span>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="lk_form" ng-if="addresses_loaded">

                <div style="border: 1px solid #c4d0d2; padding: 20px;" ng-if="form.show_form">

                    <form>
                        <shop-address edit="true" data="form.new_address" ng-if="!form.saving"></shop-address>
                        <span us-spinner ng-if="form.saving"></span>

                        <div class="buttons">
                            <input class="send" type="submit" value="Сохранить" ng-click="form.submit()" />
                            <a ng-click="form.show_form=false" translate>Отмена</a>
                            <div class="clear"></div>
                        </div>
                    </form>

                </div>

                <form>
                    <div class="buttons">
                        <input class="send" type="button" value="Добавить +" ng-click="form.show_form=true" ng-if="!form.show_form" />
                        <div class="clear"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


