<div class="info" ng-if="!edit">
    <p class="name">{[ address.street ]}</p>
    <ul class="desc">
        <li>{[ address.country.name ]}, {[ address.city ]}, {[ address.postalCode ]}</li>

        <!-- <li>Тел: 345 345 3</li>
        <li>E-mail: riz@gmail.com</li> -->
    </ul>
</div>

<div class="lk_form" ng-if="edit">
    <table class="info">
        <tr>
            <td translate>Страна</td>
            <td>
                <div class="select">
                    <select ng-model="address.country" ng-options="val.name for (key, val) in countries"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td translate>Город</td>
            <td><input type="text" placeholder="Город" ng-model="address.city"></td>
        </tr>
        <tr>
            <td translate>Почтовый индекс</td>
            <td><input type="text" placeholder="Индекс" ng-model="address.postalCode"></td>
        </tr>
        <tr>
            <td translate>Улица, дом, квартира</td>
            <td><input type="text" placeholder="Индекс" ng-model="address.street"></td>
        </tr>
    </table>
</div>