<div class="phone_title">
        <div class="title">
            <breadcrumbs></breadcrumbs>
            <div class="clear"></div>
            <h1 translate>Форма обратной связи</h1>
        </div>
        <div class="help_servise">
            <img class="img" src="/static/img/phone_img.png" alt="">
            <div class="text">
                <p translate>Служба поддержки</p>
                <b>+372 45054409</b>
                <span>12:00 - 12:35 по четным средам</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="lk_content">
        <div class="message success">
            <i></i>
            <p>Данные успешно сохранены!</p>
            <a class="close"></a>
        </div>
        <div class="message error">
            <i></i>
            <p>Ошибка: телефон введен некорректно!</p>
            <a class="close"></a>
        </div>
        <div class="lk_form">
            <form>
                <table class="info">
                    <tr>
                        <td>Страна</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Россия</option>
                                    <option>Канада</option>
                                    <option>Эстония</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Область</td>
                        <td>
                            <div class="select">
                                <select>
                                    <option>Московская</option>
                                    <option>Челябинская</option>
                                    <option>Белгородская</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td><input type="text" value="" placeholder="Город"></td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <span>+7</span>
                                        <input class="code" type="text" value="" placeholder="Код">
                                    </td>
                                    <td><input class="number" type="text" value="" placeholder="Номер"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Дом</span>
                                        <input class="house" type="text" value="" placeholder="Дом">
                                    </td>
                                    <td>
                                        <span>Кв./офис</span>
                                        <input class="room" type="text" value="" placeholder="Кв./офис">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="grey">
                    <div class="checkbox">
                        <label><input class="styler" type="checkbox"> Межкомнатные двери</label>
                        <label><input class="styler" type="checkbox"> Пластиковые окна</label>
                        <label><input class="styler" type="checkbox"> Половое покрытие</label>
                        <label><input class="styler" type="checkbox"> Бытовая техника</label>
                        <label><input class="styler" type="checkbox"> Еще техника</label>
                    </div>
                    <div class="radio">
                        <label><input class="styler" type="radio" name="something"> Межкомнатные двери</label>
                        <label><input class="styler" type="radio" name="something"> Пластиковые окна</label>
                    </div>
                    <div class="textarea">
                        <span>Текст</span>
                        <textarea></textarea>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="buttons">
                    <input class="send" type="submit" value="Отправить">
                    <a href="#">Альтернативное действие</a>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>