
<div class="right_col">


    <div class="phone_title">
        <div class="title">
            <breadcrumbs></breadcrumbs>
            <div class="clear"></div>
            <h1 translate>Личный кабинет</h1>
        </div>

        <ng-include src="'/static/js/app/profile/templates/_support.html'"></ng-include>

        <div class="clear"></div>
    </div>


    <div class="lk_content">

        <div class="lk_orders">

            <span us-spinner ng-if="!orders"></span>

            <div class="orders">
                <p class="title" translate>Последние заказы</p>

                <table ng-if="orders">
                    <tr ng-repeat="order in orders" ng-class="{delivery: order.state == 'unpaid'}" style="cursor: pointer;" ng-click="openOrder(order)">
                        <td class="name" translate>Заказ #{[ order.number ]}</td>
                        <td class="status" ng-if="order.state == 'paid'" translate>Оплачен, ожидет отправки</td>
                        <td class="status" ng-if="order.state == 'sent'" translate>Отправлен</td>
                        <td class="status" ng-if="order.state == 'unpaid'" translate>Заказ не оплачен</td>
                        <td class="price">{[ order.total ]} {[ order.currencyCode ]}</td>
                    </tr>
                </table>
            </div>
            <div class="banners">
                <p class="title" translate>Персональные предложения</p>
                <div ng-if="orders">

                    <a class="img_text bnr" href="#">
                        <span class="close"></span>
                        <img src="/static/img/banner2.jpg" alt="">
                        <p translate>Купи два шкафа<br>табурет в придачу</p>
                    </a>
                    <a class="text bnr" style="background: #e16f6f;" href="#">
                        <span class="close"></span>
                        <p translate>Купи два шкафа табурет в придачу</p>
                    </a>
                    <a class="img_bg bnr" href="#">
                        <span class="close"></span>
                        <img src="/static/img/sale_lable.png" alt="">
                        <p translate>Нет времени объяснять<br>купи мебель</p>
                        <div class="clear"></div>
                    </a>
                </div>
            </div>
        </div>
    <!--
{#        <div class="lk_banner">#}
{#            <a href="#">#}
{#                <img src="/static/img/right_banner.jpg" alt="">#}
{#                <span translate>Лучшие цены<br>для строительства бань и саун</span>#}
{#            </a>#}
{#        </div>#}

    -->
    </div>
</div>