
<div class="right_col">

    <div class="phone_title">
        <div class="title">
            <breadcrumbs></breadcrumbs>
            <div class="clear"></div>
            <h1 translate>Заказы</h1>
        </div>

        <ng-include src="'/static/js/app/profile/templates/_support.html'"></ng-include>

        <div class="clear"></div>
    </div>

    <div class="lk_content">
        <ul class="orders_info_list">

            <p class="title">{[ page_name ]}</p>

            <span us-spinner ng-if="!orders"></span>

            <li ng-repeat="order in orders" ng-class="{delivery: order.state == 'unpaid', active: order.active || selected_order == order.id}">
                <div class="mail_info" ng-click="order.active = true" style="cursor: pointer;">
                    <div class="name" translate>Заказ #{[ order.number ]}</div>
                    <div class="date" translate>от {[ order.date ]}</div>
                    <div class="status" ng-if="order.state == 'paid'" translate>Оплачен, ожидет отправки</div>
                    <div class="status" ng-if="order.state == 'sent'" translate>Отправлен</div>
                    <div class="status" ng-if="order.state == 'unpaid'" translate>Заказ не оплачен</div>
                    <div class="price">{[ order.total ]} {[ order.currencyCode ]}</div>
                    <div class="more"><a ng-click="order.active = true">&nbsp;</a></div>
                </div>
                <div class="slide">
                    <div class="more_info">
                        <table>
                            <tr>
                                <th class="id" translate>№</th>
                                <th class="name" translate>Название</th>
                                <th class="count" translate>Кол-во</th>
                                <th class="price" translate>Цена</th>
                                <th class="sum" translate>Сумма</th>
                                <th class="edit"></th>
                            </tr>
                            <tr ng-repeat="row in order.rows">
                                <td class="id">{[ $index + 1 ]}</td>
                                <td class="name">{[ row.itemName ]}</td>
                                <td class="count">{[ row.amount ]}</td>
                                <td class="price">{[ row.finalPriceWithVAT ]} {[ order.currencyCode ]}</td>
                                <td class="sum">{[ row.rowTotal ]} {[ order.currencyCode ]}</td>
                                <td class="edit">
                                    <!-- <a class="edit_butt"></a>
                                    <a class="del_butt"></a> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="actions">
                        <div class="table">
                            <div class="addr" ng-if="order.address">
                                <p class="title" translate>Адрес доставки:</p>
                                <p class="desc">{[ order.address ]}</p>
                                <!-- <a href="#">Сменить адрес</a> -->
                            </div>
                            <!-- <div class="payment">
                                <p class="title" translate>Способ оплаты:</p>
                                <p class="desc" translate>Не выбран</p>
                                <!-- <a href="#">Другой способ оплаты</a>
                                <a class="pay_butt" href="#">Оплатить заказ</a>
                            </div> -->
                            <div class="download">
                                <p class="title" translate>Скачать:</p>
                                <a class="load" href="{[ order.receiptLink ]}" target="_blank" ng-if="order.receiptLink"><i></i> Заказ_#_{[ order.id ]}.pdf</a>
                                <!-- <a class="new_order" href="#"><i></i> Повторить заказ</a>
                                <a class="del_order" href="#"><i></i> Удалить заказ</a> -->
                            </div>
                        </div>
                        <a class="close" ng-click="order.active = false"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


