{% extends '_base.html' %}
{% load i18n cms_tags sekizai_tags shop_navigation query_utils %}
{% block javascript %}
{% endblock %}

{% load thumbnail %}
{% load shop_navigation %}


{% block body %}

        <script>
            data = {{ data|safe }};
        </script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/app/search.js"></script>

        {% block search_results %}
        <section ng-controller="SearchCtrl">
			<div class="wrapper">
                {% category_header %}
                <div class="left_col">
{#                    <pre>#}
{#                    {[ result.products.facets|json ]}#}
{#                        </pre>#}
                    <div class="filters_list">
                        <ul>
                            <li ng-repeat="(key, facet) in result.products.facets" ng-if="facet.terms" class="active">
				            	<a class="slide_nav">{[ facet.name ]}</a>
				                <ul>
									<li ng-repeat="entry in facet.terms" ng-class="{active: entry.selected}"><a href="#" ng-click="selectFacet(key, entry)"><i></i>{[ entry.value ]} ({[ entry.count ]})</a></li>
				                </ul>
				            </li>
                        </ul>
                    </div>
                    <a class="remove" href="#" ng-if="facet.selection"><i></i><span translate>Сбросить все фильтры</span></a>

                    <div class="filter_price" ng-if="false">
						<p class="title" translate>Цена:</p>
						<div class="inputs">
							<span translate>от</span>
							<input type="text" class="min_price" value="" ng-model="slider.range[0]">
							<span translate>до</span>
							<input type="text" class="max_price" value="" ng-model="slider.range[1]">
						</div>
{#						<div class="slider-range"></div>#}
                        <div class="slider-range" ui-slider="{range: true}" min="{[ slider.limits.min ]}" max="{[ slider.limits.max ]}" step="1" ng-model="slider.range"></div>

					</div>

                    <ul class="left_links">
                        {% if banners.search %}
                            {% for slide in banners.search.slides.all %}
                            <li class="banner"><a href="{{ slide.url }}"><img src="{% thumbnail slide.image 250x290 crop upscale %}" alt="" />
                                {% if slide.title %}
                                <span>{{ slide.title }}</span>
                                {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="right_col" ng-if="searching && !result.products" style="height: 500px;">
                    <span us-spinner></span>
                </div>
                <div class="right_col" ng-if="result.category.subGroups.length > 0">

					<div class="clear"></div>
					<p class="title" translate>Подкатегории</p>
					<ul class="category_list">

						<li class="cat" ng-repeat="group in result.category.subGroups" ng-if="group.showInWebshop != '0'">
                            <a class="cont" href="{[ group.url ]}">
								<img ng-src="{[ group.pics[0].sizes.search ]}" alt=""  width="224" height="148">
								<span class="bg_{[ ($index % 6) + 1 ]}">{[ group.name ]}</span>
							</a>
						</li>
					</ul>
					<div class="clear"></div>
					<div class="product_list" ng-if="false">
						<a class="more" href="#" translate>Показать еще 15</a>
						<p class="title" translate>Интересные предложения</p>
						<ul>
							<li>
								<div class="left">
									<a class="img" href="#"><img src="./img/product_img.png" alt=""></a>
								</div>
								<div class="right">
									<a class="name" href="#">Мега двери</a>
									<p class="desc">Описание товара, тут  текст, который описывает товар. И еще немного текста...</p>
									<div class="chars">
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
									</div>
								</div>
								<div class="line">
									<a class="buy" href="#">В корзину</a>
									<p class="price"><span>23 EUR</span> 22 EUR</p>
								</div>
							</li>
							<li>
								<div class="left">
									<a class="img" href="#"><img src="./img/product_img.png" alt=""></a>
								</div>
								<div class="right">
									<a class="name" href="#">Мега двери</a>
									<p class="desc">Описание товара, тут  текст, который описывает товар. И еще немного текста...</p>
									<div class="chars">
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
									</div>
								</div>
								<div class="line">
									<a class="buy" href="#">В корзину</a>
									<p class="price"><span>23 EUR</span> 22 EUR</p>
								</div>
							</li>
							<li>
								<div class="left">
									<a class="img" href="#"><img src="./img/product_img.png" alt=""></a>
								</div>
								<div class="right">
									<a class="name" href="#">Мега двери</a>
									<p class="desc">Описание товара, тут  текст, который описывает товар. И еще немного текста...</p>
									<div class="chars">
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
									</div>
								</div>
								<div class="line">
									<a class="buy" href="#">В корзину</a>
									<p class="price"><span>23 EUR</span> 22 EUR</p>
								</div>
							</li>
							<li>
								<div class="left">
									<a class="img" href="#"><img src="./img/product_img.png" alt=""></a>
								</div>
								<div class="right">
									<a class="name" href="#">Мега двери</a>
									<p class="desc">Описание товара, тут  текст, который описывает товар. И еще немного текста...</p>
									<div class="chars">
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
										<p>Размер: 145мм</p>
									</div>
								</div>
								<div class="line">
									<a class="buy" href="#">В корзину</a>
									<p class="price"><span>23 EUR</span> 22 EUR</p>
								</div>
							</li>
						</ul>
						<div class="clear"></div>
						<a class="more" href="#">Показать еще 15</a>
					</div>
                </div>

                <div class="right_col" ng-if="result.category.subGroups.length == 0">

                    <div class="phone_title sort">
                        <div class="title">
                            <div class="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'front_page' %}" translate>Главная</a></li>
                                    <li ng-if="result.products.category.parentGroup">
                                        <a href="{[ result.products.category.parentGroup.url ]}">
                                            {[ result.products.category.parentGroup.name ]}
                                        </a>
                                    </li>
                                    <li class="active" ng-if="result.category">{[ result.category.name ]}</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <span style="float: right; font-size: 12px; color: gray;" translate>Найдено {[ result.products.total ]} записей</span>
                            <h1 ng-if="category">{[ category.name ]}
                                <span ng-if="search.q" translate>, поиск по '{[ search.q ]}'</span>
                            </h1>

                            <h1 ng-if="!category" translate>Поиск по '{[ search.q ]}' </span>
                            </h1>

                        </div>
                        <div class="clear"></div>
                        <div class="sort_block">
                            <div class="left">
                                <span translate>Сортировать</span>
                                <div class="select">

                                    <select ng-model="conf.sorting">
                                        <option value="lowest" translate>Цена, по-возрастанию</option>
                                        <option value="highest" translate>Цена, по-убыванию</option>
                                        <option value="name" translate>По названию</option>
                                    </select>
                                </div>
                            </div>
                            <div class="right">
                                <ul class="list_type">
                                    <li ng-repeat="i in ['list', 'col']"
                                         ng-class="{true:'active', false:''}[i == conf.page_type]"
                                            ><a ng-click="setPageType(i)" ng-class="i"></a></li>
                                </ul>
                                <ul class="count">
                                    <li ng-repeat="i in [10, 20, 50, 100]"
                                         ng-class="{true:'active', false:''}[i == conf.page_size]"
                                            ><a ng-click="setPageSize(i)">{[ i ]}</a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <div class="pagination">
						<ul>
							<li ng-class="{'active': result.products.page == page}" ng-repeat="page in result.products.pages">
                                <a ng-click="setPage(page)">{[ page ]}</a>
                            </li>
						</ul>
					</div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
			</div>
		</section>
        {% endblock %}

{% endblock %}