{% extends '_base.html' %}
{% load i18n cms_tags sekizai_tags shop_navigation query_utils %}
{% block javascript %}
{% endblock %}

{% load thumbnail %}
{% load shop_navigation %}


{% block body %}

        <section>
			<div class="wrapper">
                <pre>
                    {{ data }}
                </pre>
			</div>
		</section>

{% endblock %}