{% extends '_base.html' %}
{% load i18n cms_tags sekizai_tags shop_navigation query_utils %}
{% block javascript %}
{% endblock %}

{% load thumbnail %}
{% load shop_navigation %}


{% block body %}

		<section>
			<div class="wrapper">
				{% category_header %}
				<div class="left_col">
					<div class="filters_list">
						<ul>
				        {% for key, facet in products.facets.items %}
				        	<li {% if forloop.first %} class='active'{% endif %}>
				            {% if facet.terms %}
				            	<a class="slide_nav">{{ facet.name }}</a>
				                <ul>
				                {% for entry in facet.terms %}
									<li {% if entry.selected %}class="active"{% endif %}><a href="?{% query key|query_toggle entry.value 'page'|query_set false %}"><i></i>{{ entry.value|safe }} ({{ entry.count }})</a></li>
				                {% endfor %}
				                </ul>
				            {% endif %}
				            </li>
				        {% endfor %}
				        </ul>
					</div>

					<a class="remove" href="{{ request.path }}"><i></i><span>Сбросить все фильтры</span></a>

					<div class="filter_price">
						<span id="filter_price" data-slider-min="0" data-slider-max="{{max}}" 
						{% if price %}
							data-slider-value="[{{price.gte}},{{price.lte}}]"
						{% else %}
							data-slider-value="[{{min}},{{max}}]"
						{% endif %}
						></span>
						<p class="title">Цена:</p>
						<div class="inputs">
							<span>от</span>
							<input type="text" class="min_price" value="" onchange="set_price_range()">
							<span>до</span>
							<input type="text" class="max_price" value="" onchange="set_price_range()">
						</div>
						<div class="slider-range"></div>
					</div>
					<ul class="left_links">
						<li class="sale"><a href="#"><i></i>Лучшие предложения</a></li>
						<li class="action"><a href="#"><i></i>Скидки</a></li>
						<li class="banner"><a href="#"><img src="{{ STATIC_PREFIX }}img/banner.jpg" alt=""><span>Рекламный блок</span></a></li>
					</ul>
				</div>
				<div class="right_col">
					<div class="phone_title sort">
						<div class="title">
							<div class="breadcrumb">
								<ul>
									<li><a href="{% url 'front_page' %}">Главная</a></li>
									<li class="active">{{ category.name }}</li>
								</ul>
							</div>
							<div class="clear"></div>
							<h1>{{ category.name }}</h1>
						</div>
						<div class="clear"></div>
						<div class="sort_block">
							<div class="left">
								<span>Сортировать</span>
								<div class="select">
	
									<select>
										<option value="?{% query 'sort'|query_set 'lowest' %}">{% trans 'Lowest price' %}</option>
										<option value="?{% query 'sort'|query_set 'highest' %}">{% trans 'Highest price' %}</option>
										<option value="?{% query 'sort'|query_set 'name' %}">{% trans 'Name' %}</option>
									</select>

								</div>
							</div>
							<div class="right">
								<ul class="list_type">
				                {% if view == 'normal' %}
									<li><a class="list" href="?{% query 'view'|query_set 'mini' %}"></a></li>
									<li class="active"><a class="col" href="?{% query 'view'|query_set 'normal' %}"></a></li>
				                {% else %}
									<li class="active"><a class="list" href="?{% query 'view'|query_set 'mini' %}"></a></li>
									<li><a class="col" href="?{% query 'view'|query_set 'normal' %}"></a></li>
				                {% endif %}					
								</ul>
								<ul class="count">
									<li {% if size == 10 %}class="active" {% endif %}><a href="?{% query 'size'|query_set 10 %}">10</a></li>
									<li {% if size == 20 %}class="active" {% endif %}><a href="?{% query 'size'|query_set 20 %}">20</a></li>
									<li {% if size == 50 %}class="active" {% endif %}><a href="?{% query 'size'|query_set 50 %}">50</a></li>
									<li {% if size == 100 %}class="active" {% endif %}><a href="?{% query 'size'|query_set 100 %}">100</a></li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="product_list">
						<ul {% if not view == 'normal' %} class="table" {% endif %} >
							{% for p in products.rows %}
							<li>
								<div class="left">
									<a class="img" href="{% url 'shop_product' p.productID %}">
		                                {% if p.images %}
		                                    {% with img=p.images.0 %}
		                                        <img src="/media/pics/resized/{{ p.productID }}-{{ img.pictureID }}.jpg.150x150_q100.jpg" height="137" style="max-width: 119px;" />
		                                    {% endwith %}
		                                {% else %}
		                                    <img src="{{ STATIC_PREFIX }}img/na-mini.png"  height="150">
		                                {% endif %}
                                    </a>
								</div>
								<div class="right">
									<a class="name" href="{% url 'shop_product' p.productID %}">{{ p.name }}</a>
									<p class="desc">{{ p.description }}</p>
									<div class="chars">
										<p>Brand: {{ p.brandName }}</p>
									</div>
								</div>
								<div class="line">
									<a class="buy add-basket" href="javascript:;" ng-click="addBasket({{p.productID }}, {{p.priceWithVat }})" 
										data-price="{{p.priceWithVat }}"
		                                data-url="{% url 'shop_add_basket' %}" data-id="{{p.productID }}"
		                                >В корзину</a>
									<p class="price">
                                        {% if p.main_price %}
                                        <span>{{ p.main_price }} {{ p.currency_symbol }}</span>
                                        {% endif %}
                                        {{ p.price_tax }} {{ p.currency_symbol }}
                                    </p>

								</div>
							</li>
							{% if not view == 'normal' %}
							<li><div class="clear"></div></li>
							{% endif %}
							{% endfor %}
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					{% if products.rows and products.pages|length > 1 %}
					<div class="pagination">
						<ul>
							{% for i in products.pages|get_range %}
							<li {% if forloop.counter == page %} class="active" {% endif %}>
								<a href="?{% query 'page'|query_set forloop.counter %}" ng-click="pagination($event)">{{forloop.counter}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="clear"></div>
			</div>
		</section>

{% endblock %}