
<div>
    <div class="product_slider" ng-if="pics">
        <ul>
            <li ng-repeat="img in pics">
                <img ng-src="{[ img.sizes.details ]}" width="340" height="225">
            </li>
        </ul>
        <ul ng-if="!pics">
            <li>
                <img src="/static/img/noimage.jpg" width="340" height="225">
            </li>
        </ul>
    </div>
    <div class="product_pager" ng-if="pics.length > 1">
        <ul>
            <li ng-repeat="img in pics">
                <a data-slide-index="{[ $index ]}" href="">
                    <img ng-src="{[ img.sizes.details ]}" width="340" height="225">
                </a>
            </li>
        </ul>
    </div>
</div>