<div class="count_wrapper">
    <p class="title" translate>Количество</p>

    <div class="change_count">
        <a ng-click="decr()" ng-disable="qty < 1">-</a>
        <input readonly type="text" ng-model="qty">
        <a ng-click="incr()">+</a>

    </div>

</div>
<a class="buy" ng-click="addToCart()" translate>Добавить в корзину</a>