    <div class="phone_title">
    <div class="title">
        <div class="breadcrumb">
            <ul>
                <li><a href="/" translate>Главная</a></li>
                <li><a href="/category/{[ product.groupID ]}/">{[ product.groupName ]}</a></li>
                <li class="active">{[ product.name ]}</li>
            </ul>
        </div>
        <div class="clear"></div>
        <h1>{[ product.name ]}</h1>
    </div>
    <div class="help_servise">
        <img class="img" src="/static/img/phone_img.png" alt="">

        <div class="text">
            <p translate>Служба поддержки</p>
            <b translate>+372 6-140-331</b>
            <span translate>12:00 - 12:35 по четным средам</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="lk_content">


    <div class="right_content">
        <div class="slider_wrapper">

            <product-slider images="product.pics" />

            <div class="clear"></div>
            <div class="description" ng-if="product.description">
                <p class="title" translate>Описание товара</p>
                <p class="text">{[ product.longdesc ]}</p>
            </div>
        </div>

        <div class="product_wrapper">

            <div class="chars_wrapper">
                <div class="member">
                    <p class="title" translate>Характеристики</p>

                    <div class="clear"></div>
                </div>
                <table>
                    <tr ng-repeat="p in product.parameters" ng-if="p.param.is_technical && p.parameterValue != null && p.parameterValue != ''">
                        <td>{[ p.parameterName ]}</td>
                        <td> {[ p.parameterValue ]} {[ p.param.parameterUnitName ]} </td>
                    </tr>
                </table>
            </div>


            <div class="size_wrapper" ng-repeat="(field_id, field) in variation_fields">
                <p class="title">{[ field.name ]} </p>
                <label ng-repeat="(value_id, value) in field.values">
                    <input type="radio" ng-change="selection_changed()" ng-model="selection[field_id]"
                           value="{[ value_id ]}" name="variation_{[ field_id ]}"> {[ value ]}
                </label>
            </div>

            <!-- <div class="load_wrapper">
                <p class="title">Скачать:</p>
                <ul>
                    <li><a href="#"><i></i>Сертификат качества</a></li>
                    <li><a href="#"><i></i>Техническая спецификация</a></li>
                </ul>
            </div> -->

            <div class="price_wrapper">
                <p class="title">Цена</p>
                <span class="old" ng-if="product.main_price">{[ product.main_price |cart_price ]}</span>
                <span class="new">{[ product.price |cart_price ]}</span>
            </div>

            <hr style="margin-bottom: 10px;"/>

            <product-add product="product" />


        </div>
        <div class="clear g_line"></div>
    </div>
    <!-- <div class="lk_banner">
        <a href="#">
            <img src="/static/img/right_banner.jpg" alt="">
            <span translate>Лучшие цены<br>для строительства бань и саун</span>
        </a>
    </div> -->


</div>
<div class="clear"></div>
