{% extends '_base.html' %}
{% load i18n cms_tags sekizai_tags shop_navigation query_utils %}
{% block javascript %}
{% endblock %}

{% load thumbnail %}

{% block body %}
<section>
   <div class="wrapper">
   {% if banners.main %}
   <div class="home_slider">
      <ul>
         {% for slide in banners.main.slides.all %}
         <li>
            <img src="{% thumbnail slide.image 960x338 crop upscale %}" alt="">
            <div class="desc">
               <p class="title">{{ slide.title }}</p>
               <p class="text">{{ slide.text }}</p>
               <a class="more" href="{{ slide.url }}">Подробнее</a>
            </div>
         </li>
         {% endfor %}
      </ul>
   </div>
   {% endif %}
   <ul class="home_list">
      {% for category in categories %}
         {% if category.pics %}
         <li class="cat">
            <a class="cont" href="{% url 'shop_category' category.id %}">
            <img src="{{ category.pics.0.sizes.index }}" width="310" height="205">
            <span class="bg_{{ forloop.counter }}">{{category.name}}</span>
            </a>
         </li>
         {% endif %}
      {% endfor %}
   </ul>
   <div class="clear"></div>
{#   <div class="cat_nav">#}
{#   	{% include 'categories.html' %}#}
{#   </div>#}
   <div class="clear"></div>
   </div>
   </section>

{% endblock %}

{% block footer %}
<div class="wrapper">
        <div class="news">
            <p class="title">Новости</p>

            <ul>
                {% for article in articles %}
                <li>
                    <a class="img" href="#"><img src="{% thumbnail article.image 70x65 crop upscale %}" alt=""></a>
                    <div class="desc">
                        <a class="name" href="#">{{ article.title }}</a>
                        <p class="date">{{ article.date_created|date:"j.m.Y" }}</p>
                        <div class="clear"></div>
                        <p class="text">{{ article.text_short }}</p>
                    </div>
                    <div class="clear"></div>
                </li>
                {% endfor %}
            </ul>
            {% if not articles %}
            Новостей нет.
            {% endif %}

{#            <a class="more" href="#">Показать все новости</a>#}
        </div>
        <div class="subscribe">


            {% show_placeholder "content" "index" %}
{#            #}
{#            <p class="title">Подружиться</p>#}
{#            <ul class="social">#}
{#                <li><a class="fb" href="#"></a></li>#}
{#                <li><a class="tw" href="#"></a></li>#}
{#                <li><a class="go" href="#"></a></li>#}
{#            </ul>#}
{#            <div class="clear"></div>#}
{#            <p class="title">Подписка на новости</p>#}
{#            <div class="sub_form">#}
{#                <div class="form">#}
{#                    <form>#}
{#                        <input type="text" value="" placeholder="Введите ваш e-mail">#}
{#                        <input type="submit" value="">#}
{#                    </form>#}
{#                </div>#}
{#                <p>Мы не шлем спам!</p>#}
{#            </div>#}
        </div>
        <div class="contacts">

            <div class="payment">
                <br />
                <a class="paypal" href="#"></a>
                <div class="clear"></div>
                <a class="visa" href="#"></a>
                <a class="mastercard" href="#"></a>
                <a class="maestro" href="#"></a>
                <a class="american" href="#"></a>
                <a class="direct" href="#"></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}