{% load menu_tags %}


<div class="cat_nav">

    {% for child in children %}
 <div class="col">
      <a class="title" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" >{{ child.get_menu_title }}</a>
      {% if child.children %}
      {% show_menu from_level to_level extra_inactive extra_active "cms/index_submenu.html" "" "" child %}
      {% endif %}
   </div>
{% endfor %}
<div class="small_clr"></div>

</div>