{% load menu_tags %}


<ul>
    {% for child in children %}
    <li>
      <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" >{{ child.get_menu_title }}</a>
    </li>
    {% endfor %}
</ul>
