{% extends "_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load account %}
{% load shop_navigation %}
{% load cms_tags %}
{% load menu_tags %}

{% load thumbnail %}
{% block body %}

    <section>
			<div class="wrapper">
				{% category_header %}
				<div class="left_col">

                {% if region_page %}
                  {% show_menu_below_id region_page.reverse_id 0 100 100 100 "cms/page_menu.html" %}
                {% endif %}

					<ul class="left_links">
						{% if banners.profile_small %}
                            {% for slide in banners.profile_small.slides.all %}
                            <li class="banner"><a href="{{ slide.url }}"><img src="{% thumbnail slide.image 250x290 crop upscale %}" alt="">
                                {% if slide.title %}
                                <span>{{ slide.title }}</span>
                                {% endif %}
                            </a></li>
                            {% endfor %}
                        {% endif %}
					</ul>
				</div>
				<div class="right_col">
					<div class="phone_title">
						<div class="title">
							<div class="breadcrumb">
								<ul>
									<li><a href="#">Главная</a></li>
{#									<li><a href="#">Информация</a></li>#}
{#									<li class="active">Контентная страница</li>#}
								</ul>
							</div>
							<div class="clear"></div>
							<h1>{% page_attribute "page_title" %}</h1>
						</div>
						<div class="help_servise">
							<img class="img" src="/static/img/phone_img.png" alt="">
                            <div class="text">
                                <p translate>Служба поддержки</p>
                                <b translate>+372 45054409</b>
                                <span translate>12:00 - 12:35 по четным средам</span>
                            </div>
                            <div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="lk_content">
						<div class="content_wrapper">
							{% placeholder base_content %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>

{% endblock %}

