{% load menu_tags %}

{% for child in children %}
<div class="delivery_list">
    <p class="title">{{ child.get_menu_title }}</p>

    {% if child.children %}
    {% show_menu from_level to_level extra_inactive extra_active "cms/page_submenu.html" "" "" child %}
    {% endif %}
</div>
{% endfor %}