{% extends '_base.html' %}

{% block javascript %}
{% endblock %}

{% block body %}

        <section>
			<div class="wrapper">
                <hr />
                <h1 style="margin-bottom: 25px; margin-top: 50px;" translate>404. Страница не найдена</h1>
                <p style="margin-bottom: 50px;">
                    Страница которую вы запросили - не найдена.
                </p>
                <a href="{% url 'front_page' %}" translate>Вернуться на главную страницу &raquo;</a>
			</div>
		</section>

{% endblock %}