{% extends '_base.html' %}

{% block javascript %}
{% endblock %}

{% block body %}

        <section>
			<div class="wrapper">
                <hr />
                <h1 style="margin-bottom: 25px; margin-top: 50px;" translate>500. Ошибка на сервере</h1>
                <p style="margin-bottom: 50px;">
                    На сервере произошла ошибка, которую мы не смогли обработать. Наш технический персонал уже получил
                    оповещение об инценденте и устранит проблему в ближайшее время
                    <br />
                    <br />
                    Приносим свои извенения за неудобства.
                </p>
                <a href="{% url 'front_page' %}" translate>Вернуться на главную страницу &raquo;</a>
			</div>
		</section>

{% endblock %}