{% for category in categories %}

   <div class="col">
      <a class="title" href="{% url 'shop_category' category.id %}" >{{category.name}} ({{category.count}})</a>
      {% if category.subGroups %}
      <ul>
      	{% for sub_category in category.subGroups %}
         <li><a href="{% url 'shop_category' category.id %}">{{sub_category.name}} ({{sub_category.count}})</a></li>
        {% endfor %}
      </ul>
      {% endif %}
   </div>
   <div class="small_clr"></div>

{% endfor %}