<div class="popup" id="cart_popup">
     <a class="close" href="javascript: close_popup();"></a>
     <p class="title" translate>Корзина</p>
     <div class="cart_list">
        <table>
           <tr class="head">
              <td translate>Наименование</td>
              <td translate>Колличество</td>
              <td translate>Цена</td>
              <td translate>Доставка</td>
              <td></td>
           </tr>
           <tr ng-repeat="product in cart.cart.items">
              <td>{[ product.name ]}</td>
              <td>
                 <div class="change_count">
                    <a href="#" ng-click="cart.remove(product)">-</a>
                    <input type="text" value="{[ cart.cartQty(product) ]}" ng-model="cart.getItem(product).qty" ng-change="cart.updateCart()">
                    <a href="#" ng-click="cart.add(product)">+</a>

                </div>
                <span>шт</span>
                <span class="new" ng-if="cart.cartQty(product) > 0"></span>
              </td>
              <td>{[ product.price * cart.cartQty(product) |cart_price ]} </td>
              <td><a title="{[ product.deliveryDescription ]}">{[ product.deliveryPrice |cart_price ]}</a></td>
              <td><a class="del" ng-click="cart.removeAll(product)"></a></td>
           </tr>
           <tr>
               <td colspan="3">Доставка <small style="color: gray;" ng-if="cart.cart.totalDeliveryDescription">({[ cart.cart.totalDeliveryDescription ]})</small></td>
               <td>{[ cart.cart.totalDelivery |cart_price ]}</td>
               <td></td>
           </tr>
        </table>
        <div class="clear"></div>
        <p class="all">
            <span translate>Итого:</span> <b id="basket-total-price">{[ cart.cart.total |cart_price]}</b>
        </p>
        <p class="all">
            <span translate>С доставкой:</span>
            <b id="basket-total-price">{[ cart.cart.totalWithDelivery |cart_price]}</b>
        </p>
         <p style="float: right;">
             <a ng-click="cart.toggleTax()" style="text-decoration: none;">
                 <span translate>VAT</span>
                 {[ cart.tax|checkmark ]} &nbsp; &nbsp; &nbsp;
                 </a>
             <span translate>Доставка в</span>
             <select ng-model="cart.country" ng-change="cart.updateCart()" ng-options="val.name for (key, val) in countries"></select>
         </p>
        <a class="buy" href="{% url 'shop_checkout' %}" ng-if="cart.cart.total > 0" translate>Оплатить сейчас</a>
        <div class="clear"></div>
     </div>
  </div>