{% load static i18n model_trans utils cms_tags sekizai_tags menu_tags djangular_tags %}
{% load shop_navigation %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
   <head>
      {% block head %}
      <title>Grandex24</title>
      {% endblock %}

        <link rel="shortcut icon" href="/favicon.ico">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% render_block "css" %}
      {% block css %}
      {% endblock %}

      <script>
          lang_prefix = '{% url 'front_page' %}';
          USER_ID = {% if request.user.id %}{{ request.user.id }}{% else %}0{% endif %};
          USER_IS_COMPANY = {% if request.user.company_name %}true{% else %}false{% endif %};
          currencies = {{ region.currencies|safe }};
          tax_rate = {{ region.tax_rate }};
          CONST_COUNTRIES = {{ region.countries|safe }};

          {% if LANGUAGE_CODE == 'ru' %}
            LANG_CODE = 'ru_ee';
          {% else %}
            LANG_CODE = '{{ LANGUAGE_CODE }}';
            {% endif %}
      </script>

      <script src="{{ STATIC_PREFIX }}js/all.js"></script>

{#    <script src="{{ STATIC_PREFIX }}js/jquery*.js"></script>#}
    <script src="{{ STATIC_PREFIX }}js/query-string.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/angular/angular.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/angular-route/angular-route.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/spin.js/spin.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/angular-spinner/angular-spinner.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/trans.js"></script>
    <script src="{{ STATIC_PREFIX }}bower/ng-breadcrumbs/dist/ng-breadcrumbs.js"></script>
    <script src="{{ STATIC_PREFIX }}djangular/js/django-angular.js"></script>
    
    <script src="{{ STATIC_PREFIX }}js/app/main.js"></script>
    <script src="{{ STATIC_PREFIX }}js/app/cart.js"></script>
    <script src="{{ STATIC_PREFIX }}js/app/ui-slider.js"></script>
{#      <script src="{{ STATIC_PREFIX }}js/all.js"></script>      #}


      <script>angular.module('ng.django.urls').constant('patterns', {% load_djng_urls %});</script>

      {% render_block "js" %}
      {% block js %}
      {% endblock %}

   <script>
        app.config(function($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        });
    </script>
   <script type="text/javascript">
    app.config(function(djangoRMIProvider) {
        djangoRMIProvider.configure({% djng_all_rmi %});
    });
    </script>

   </head>

   <body ng-app="grandexApp" ng-controller="MainCtrl" {% block body_attrs %}{% endblock %}>

      {% cms_toolbar %}

      {% block header_wrap %}
      {% endblock %}


      {% block body_wrap %}


          {% block body %}
          {% endblock %}

      {% endblock %}


      {% block footer_wrap %}
      <footer>

         {% block footer %}
         {% endblock %}
         <div class="copyright">
            <p class="wrapper" translate>© Интернет-магазин «Grandex 24» , 2014г.</p>
         </div>

      </footer>
      {% endblock %}

      <div id="fade"></div>

      {% include 'cratis_cart.html' %}


   </body>
</html>