<form method="post" action="{{ url }}" id="post-form">
    {% for key, val in fields %}
    <input type="hidden" name="{{ key }}" value="{{ val }}">
    {% endfor %}
</form>

<script>
    setTimeout(function(){
        document.getElementById('post-form').submit();
    }, 200)
</script>