     <div id="fade"></div>
      <div class="popup" id="cart_popup">
         <a class="close" href="javascript: close_popup()"></a>
         <p class="title">Корзина</p>
         <div class="cart_list">
            <table>
               <tr class="head">
                  <td>Наименование</td>
                  <td>Колличество</td>
                  <td>Цена</td>
                  <td></td>
               </tr>
               {% for product in products %}
               <tr>
                  <td>{{ product.rows.0.name }}</td>
                  <td>
                     <div class="change_count">
{#                        <a href="javascript:;" ng-click="minusBasket({{ product.rows.0.productID}}, {{ product.rows.0.count_buy }}, $event)" data="{% url 'shop_basket' %}">-</a>#}
                        <input type="text" value="{{ product.rows.0.count_buy }}">
{#                        <a href="javascript:;" ng-click="plusBasket({{ product.rows.0.productID}}, {{ product.rows.0.count_buy }}, $event)" data="{% url 'shop_basket' %}">+</a>#}
                     </div>
                     <span>шт</span>
                  </td>
                  <td>{{ product.rows.0.priceWithVat }} &#8364; </td>
{#                  <td><a class="del" href="javascript:;" #}
{#                     ng-click="removeBasket({{ product.rows.0.productID}}, $event)" data="{% url 'shop_basket' %}" ></a></td>#}
               </tr>
               {% endfor %}
            </table>
            <div class="clear"></div>
            <p class="all">Итого: <b id="basket-total-price">{{ price }}</b><b>&#8364;</b></p>
            <a class="buy" href="{% url 'shop_checkout' %}">Оплатить сейчас</a>
            <div class="clear"></div>
         </div>
      </div>