{% load query_utils %}

<div class="category_nav">
    <ul>
        <li class="filters"><a href="javascript: open_absolute_filters()"></a></li>
        <li class="small_nav">
            <select>
                  {% for category in categories %}
                     {% if category.subGroups %}
                            <option>{{category.name}} </option>
                     {% endif %}
                  {% endfor %}
            </select>
        </li>
            {% for category in categories %}
                {% if forloop.counter0 < 5 %}
                <li><a class="{{ colors|get_at_index:forloop.counter0 }}" href="{% url 'shop_category' category.id %}">{{category.name|truncatechars:28}}</a></li>
                {% endif %}
            {% endfor %}
    </ul>
</div>

{% if messages %}
<form>
    {% for message in messages %}

    <div class="message error">
        <i></i>
        <p>{{ message }}</p>
        <a class="close"></a>
      </div>
    {% endfor %}
</form>
{% endif %}