{% if count == 0 %}
	<a class="cart" href="#"><i></i>Нет товаров</a>
{% else %}
	<a class="cart active" href="javascript: open_popup('cart_popup')"><i></i><span id="header-basker-count">{{count}}</span> шт. - <span id="header-basker-price">{{ price }}</span> &#8364;</a>
{% endif %}
