{% if not request.user.is_authenticated %}              
   <div class="login">
      <a href="{% url 'account_login' %}" translate>Войти</a>
      <a href="{% url 'account_signup' %}" translate>Регистрация</a>
   </div>
{% else %}
   <div class="login active">
      <a href="{% url 'cratis_profile__main' %}">{{ request.user }}</a>
      <a class="sett" href="{% url 'cratis_profile__main' %}"></a>
      <a class="exit" href="{% url 'account_logout' %}"></a>
   </div>
{% endif %}
<div class="norm_clr"></div>